/.metadata/
/.recommenders/
.metadata/.plugins/org.eclipse.core.resources/.history/1f/601b2ed91f8e001b1194e677c75415f2
.metadata/.plugins/org.eclipse.core.resources/.history/1f/601b2ed91f8e001b1194e677c75415f2
.metadata/.plugins/org.eclipse.core.resources/.history/1f/601b2ed91f8e001b1194e677c75415f2
.metadata/.plugins/org.eclipse.core.resources/.history/1f/601b2ed91f8e001b1194e677c75415f2
*.index
*.resources
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/478903850.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.projects/assignment_iBatis_Board/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/assignment_iBatis_Board/.indexes/a0/67/e3/ab/32/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/1f/601b2ed91f8e001b1194e677c75415f2
