<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Servlet_Myboard</display-name>

	<!-- SelectBoardAllServlet 등록 -->
	<servlet>
		<servlet-name>SelectBoardAllServlet</servlet-name>
		<servlet-class>kr.or.ddit.board.controller.SelectBoardAllServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SelectBoardAllServlet</servlet-name>
		<url-pattern>/board/boardList.do</url-pattern>
	</servlet-mapping>

	<!-- InsertBoardServlet -->
	<servlet>
		<servlet-name>InsertBoardServlet</servlet-name>
		<servlet-class>kr.or.ddit.board.controller.InsertBoardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InsertBoardServlet</servlet-name>
		<url-pattern>/board/insertBoard.do</url-pattern>
	</servlet-mapping>

	<!-- filter처리 -->
	<filter>
		<filter-name>CustomEncoding</filter-name>
		<filter-class>kr.or.ddit.comm.filter.CustomEncoding</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>